/* ---------- GLOBAL ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #a8a4a4; 
  color: #1f1616;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.section {
  padding: 80px 0;
}

/* ---------- NAVBAR ---------- */
nav {
  width: 100%;
  padding: 20px 0;
  background: rgb(184, 180, 180);
  position: sticky;
  top: 0;
  z-index: 50;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 22px;
  font-weight: bold;
  margin-left: 20px;
}

nav .logo span {
  color: #112c80;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: .2s;
}

nav ul li a:hover {
  color: #3a6ff3;
}

/* ---------- HERO ---------- */
.hero {
  text-align: center;
  padding: 120px 20px;
  background: #b0b0b1;
  border-radius: 0 0 25px 25px;
}

.hero h1 {
  font-size: 34px;
  margin-bottom: 10px;
}

.hero p {
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  background: #3a6ff3;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: .3s;
}

.btn:hover {
  background: #2c56c5;
}

/* ---------- PROFILE ---------- */
.profile-inner {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.profile-img-wrap img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 15%;
  border: 4px solid white;
  box-shadow: 0 5px 12px rgba(0,0,0,0.15);
}

/* ---------- PROJECTS ---------- */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 20px;
}

.card {
  padding: 15px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 5px 12px rgba(0,0,0,0.1);
  transition: .3s ease;
}

.card:hover {
  transform: translateY(-6px);
}

.card-media {
  width: 100%;
  height: 180px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  background-color: #d9d9d9;
  margin-bottom: 12px;
}

/* ---------- MASUKKAN FOTO PROJEK DI SINI ---------- */
.card-media-1 {
  background-image: url('keropio.jpg'); /* 
  FOTO PROJEK 1 */
}

.card-media-2 {
  background-image: url('halaman1.jpg'); /* FOTO PROJEK 2 */
}

/* ---------- CONTACT ---------- */
.contact a {
  color: #3a6ff3;
}

/* ---------- FOOTER ---------- */
footer {
  text-align: center;
  padding: 20px;
  background: white;
  margin-top: 40px;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.08);
}